
# Ignorar módulos de Node :) 
node_modules/

# Ignorar keys 
keys/

# Ignorar variables de entorno 
.env

# Ignorar archivos producidos por PostgreSQL (raíz del proyecto) 
/postgres/

# Ignorar archivos producidos por el build 
dist/

# Ignorar archivos de configuración del Editor/IDE
.vscode/

# Ignorar archivos producidos por configuraciones del testing (raíz del proyecto) 
/coverage/
