
# Ignorar módulos de Node :) 
node_modules/

# Ignorar keys 
keys/

# Ignorar variables de entorno 
.env

# Ignorar archivos producidos por PostgreSQL (raíz del proyecto) 
/postgres/

# Ignorar archivos producidos por el build 
dist/
